In [1]:
import pandas as pd

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

from matplotlib import pyplot as plt

from pdpbox import pdp

In [2]:
data = pd.read_csv('PartialDependencyPlot/taxi_fare_train.csv', nrows=5000)

# remove samples with outlier coords and neg fares
data = data.query('pickup_latitude > 40.7 and pickup_latitude < 40.8 and ' +
                  'dropoff_latitude > 40.7 and dropoff_latitude < 40.8 and ' +
                  'pickup_longitude > -74 and pickup_longitude < -73.9 and ' +
                  'dropoff_longitude > -74 and dropoff_longitude < -73.9 and ' +
                  'fare_amount > 0'
                  )

y = data.fare_amount

# we will use partial dependency plot to find how these features affect fare
base_features = ['pickup_longitude',
                 'pickup_latitude',
                 'dropoff_longitude',
                 'dropoff_latitude']

X = data[base_features]

In [3]:
# train val set
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)
data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>key</th>
      <th>fare_amount</th>
      <th>pickup_datetime</th>
      <th>pickup_longitude</th>
      <th>pickup_latitude</th>
      <th>dropoff_longitude</th>
      <th>dropoff_latitude</th>
      <th>passenger_count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>2011-08-18 00:35:00.00000049</td>
      <td>5.7</td>
      <td>2011-08-18 00:35:00 UTC</td>
      <td>-73.982738</td>
      <td>40.761270</td>
      <td>-73.991242</td>
      <td>40.750562</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2012-04-21 04:30:42.0000001</td>
      <td>7.7</td>
      <td>2012-04-21 04:30:42 UTC</td>
      <td>-73.987130</td>
      <td>40.733143</td>
      <td>-73.991567</td>
      <td>40.758092</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2010-03-09 07:51:00.000000135</td>
      <td>5.3</td>
      <td>2010-03-09 07:51:00 UTC</td>
      <td>-73.968095</td>
      <td>40.768008</td>
      <td>-73.956655</td>
      <td>40.783762</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2012-11-20 20:35:00.0000001</td>
      <td>7.5</td>
      <td>2012-11-20 20:35:00 UTC</td>
      <td>-73.980002</td>
      <td>40.751662</td>
      <td>-73.973802</td>
      <td>40.764842</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2012-01-04 17:22:00.00000081</td>
      <td>16.5</td>
      <td>2012-01-04 17:22:00 UTC</td>
      <td>-73.951300</td>
      <td>40.774138</td>
      <td>-73.990095</td>
      <td>40.751048</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
data.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>fare_amount</th>
      <th>pickup_longitude</th>
      <th>pickup_latitude</th>
      <th>dropoff_longitude</th>
      <th>dropoff_latitude</th>
      <th>passenger_count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>3085.000000</td>
      <td>3085.000000</td>
      <td>3085.000000</td>
      <td>3085.000000</td>
      <td>3085.000000</td>
      <td>3085.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>8.452768</td>
      <td>-73.977032</td>
      <td>40.756615</td>
      <td>-73.975552</td>
      <td>40.757332</td>
      <td>1.610373</td>
    </tr>
    <tr>
      <th>std</th>
      <td>4.411415</td>
      <td>0.014960</td>
      <td>0.018406</td>
      <td>0.015636</td>
      <td>0.018595</td>
      <td>1.247523</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.010000</td>
      <td>-73.999998</td>
      <td>40.700013</td>
      <td>-73.999995</td>
      <td>40.701282</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>5.500000</td>
      <td>-73.988590</td>
      <td>40.744035</td>
      <td>-73.987361</td>
      <td>40.745731</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>7.500000</td>
      <td>-73.980242</td>
      <td>40.757790</td>
      <td>-73.978403</td>
      <td>40.758677</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>10.100000</td>
      <td>-73.967927</td>
      <td>40.769110</td>
      <td>-73.966457</td>
      <td>40.770060</td>
      <td>2.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>52.000000</td>
      <td>-73.901047</td>
      <td>40.799952</td>
      <td>-73.901790</td>
      <td>40.799937</td>
      <td>6.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
# step 1 - train a model
rf_model = RandomForestRegressor(n_estimators=25, random_state=1).fit(train_X, train_y)

In [6]:
# step 2 - use the trained model for pdp on val set

# check pdp for all loc
for feature_name in base_features:
    pdp_dist = pdp.pdp_isolate(model=rf_model, dataset=val_X, model_features=base_features, feature=feature_name)
    pdp.pdp_plot(pdp_dist, feature_name)
    plt.show()

In [7]:
# observation
# plots suggest that when location is at middle seems to have a lower fare
# because location at middle seems to mean less distance

In [8]:
# fare is more affected by distance, so we need to see interaction of the locations
inter = pdp.pdp_interact(model=rf_model, dataset=val_X, model_features=base_features,
                         features=['pickup_longitude', 'dropoff_longitude'])
pdp.pdp_interact_plot(pdp_interact_out=inter, feature_names=['pickup_longitude', 'dropoff_longitude'],
                      plot_type='contour')
plt.show()

In [9]:
# observation
# when the two locations are different, meaning greater distance, the fare is more

In [10]:
# create the 2 distance features, and check pdp for one location feature again
data['abs_lat_distance'] = abs(data.dropoff_latitude - data.pickup_latitude)
data['abs_lon_distance'] = abs(data.dropoff_longitude - data.pickup_longitude)

# find importance with these added feature
features_new = ['pickup_longitude',
                'pickup_latitude',
                'dropoff_longitude',
                'dropoff_latitude',
                'abs_lat_distance',
                'abs_lon_distance']

X = data[features_new]

new_train_X, new_val_X, new_train_y, new_val_y = train_test_split(X, y, random_state=1)
rf_model = RandomForestRegressor(n_estimators=25, random_state=1).fit(new_train_X, new_train_y)

pdp_lon = pdp.pdp_isolate(model=rf_model, dataset=new_val_X, model_features=features_new, feature=feature_name)
pdp.pdp_plot(pdp_lon, feature_name)
plt.show()

In [11]:
# observation
# the effect of pickup lon is less now because of the added important feature

In [12]:
# having a greater pdp does not necessary mean greater permutation importance
# for example, a feature may be most of the same value but has one outlier sample,
# it will have great pdp but it is not important feature because most samples have same value